.icon {
  width: 20px;
  height: 20px;
  background-size: 20px 20px;
  background-position: center center;
  background-repeat: no-repeat;

  &.battery {
    background-image: url(./assets/battery.svg);
  }
  &.bluetooth {
    background-image: url(./assets/bluetooth.svg);
  }
  &.fan {
    background-image: url(./assets/fan.svg);
  }
  &.hazard {
    background-image: url(./assets/hazard.png);
  }
  &.lte {
    background-image: url(./assets/lte.svg);
  }
  &.music {
    background-image: url(./assets/music.svg);
  }
  &.palette {
    background-image: url(./assets/palette.svg);
  }
  &.pause {
    background-image: url(./assets/pause.svg);
  }
  &.phone {
    background-image: url(./assets/phone.svg);
  }
  &.right-turn {
    background-image: url(./assets/right-turn.png);
  }
  &.seat-heater {
    background-image: url(./assets/seat-heater.png);
  }
  &.temperature {
    background-image: url(./assets/temperature.png);
    background-size: auto 20px;
  }
  &.warning {
    background-image: url(./assets/warning.png);
  }
  &.web {
    background-image: url(./assets/web.svg);
  }
  &.wifi {
    background-image: url(./assets/wifi.svg);
  }
  &.windshield--defroster {
    background-image: url(./assets/windshield--defroster.png);
  }
  &.windshield--washer {
    background-image: url(./assets/windshield--washer.png);
  }
  &.windshield--wiper {
    background-image: url(./assets/windshield--wiper.png);
  }
}

#app[data-theme="dark"] {
  .icon {
    &.battery {
      background-image: url(./assets/battery--dark.png);
    }
    &.bluetooth {
      background-image: url(./assets/bluetooth--dark.png);
    }
    &.fan {
      background-image: url(./assets/fan--dark.png);
    }
    &.hazard {
      background-image: url(./assets/hazard--dark.png);
    }
    &.lte {
      background-image: url(./assets/lte--dark.png);
    }
    &.music {
      background-image: url(./assets/music--dark.png);
    }
    &.palette {
      background-image: url(./assets/palette--dark.png);
    }
    &.pause {
      background-image: url(./assets/pause--dark.png);
    }
    &.phone {
      background-image: url(./assets/phone--dark.png);
    }
    &.right-turn {
      background-image: url(./assets/right-turn--dark.png);
    }
    &.seat-heater {
      background-image: url(./assets/seat-heater--dark.png);
    }
    &.temperature {
      background-image: url(./assets/temperature--dark.png);
      background-size: auto 20px;
    }
    &.web {
      background-image: url(./assets/web--dark.png);
    }
    &.wifi {
      background-image: url(./assets/wifi--dark.png);
    }
    &.windshield--defroster {
      background-image: url(./assets/windshield--defroster--dark.png);
    }
    &.windshield--washer {
      background-image: url(./assets/windshield--washer--dark.png);
    }
    &.windshield--wiper {
      background-image: url(./assets/windshield--wiper--dark.png);
    }
  }
}

#app[data-theme="cyberpunk"] {
  .icon {
    &.battery {
      background-image: url(./assets/battery--cyberpunk.png);
    }
    &.bluetooth {
      background-image: url(./assets/bluetooth--cyberpunk.png);
    }
    &.fan {
      background-image: url(./assets/fan--cyberpunk.png);
    }
    &.hazard {
      background-image: url(./assets/hazard--cyberpunk.png);
    }
    &.lte {
      background-image: url(./assets/lte--cyberpunk.png);
    }
    &.music {
      background-image: url(./assets/music--cyberpunk.png);
    }
    &.palette {
      background-image: url(./assets/palette--cyberpunk.png);
    }
    &.pause {
      background-image: url(./assets/pause--cyberpunk.png);
    }
    &.phone {
      background-image: url(./assets/phone--cyberpunk.png);
    }
    &.right-turn {
      background-image: url(./assets/right-turn--cyberpunk.png);
    }
    &.seat-heater {
      background-image: url(./assets/seat-heater--cyberpunk.png);
    }
    &.temperature {
      background-image: url(./assets/temperature--cyberpunk.png);
      background-size: auto 20px;
    }
    &.warning {
      background-image: url(./assets/warning--cyberpunk.png);
    }
    &.web {
      background-image: url(./assets/web--cyberpunk.png);
    }
    &.wifi {
      background-image: url(./assets/wifi--cyberpunk.png);
    }
    &.windshield--defroster {
      background-image: url(./assets/windshield--defroster--cyberpunk.png);
    }
    &.windshield--washer {
      background-image: url(./assets/windshield--washer--cyberpunk.png);
    }
    &.windshield--wiper {
      background-image: url(./assets/windshield--wiper--cyberpunk.png);
    }
  }
}
